[submodule "week1/day1/command-line-refrigerator-lab"]
	path = week1/day1/command-line-refrigerator-lab
	url = https://github.com/clei1/kwk17-command-line-refrigerator-lab.git
	branch = master
[submodule "week1/day2/kwk17-dvd-codealong"]
	path = week1/day2/kwk17-dvd-codealong
	url = https://github.com/clei1/kwk17-dvd-codealong
	branch = master
[submodule "week1/day2/kwk17-p5-play-lab"]
	path = week1/day2/kwk17-p5-play-lab
	url = https://github.com/clei1/kwk17-p5-play-lab
	branch = master
[submodule "week1/day2/kwk17-tron-bike-lab"]
	path = week1/day2/kwk17-tron-bike-lab
	url = https://github.com/clei1/kwk17-tron-bike-lab
	branch = master
[submodule "week1/day3/kwk17-array-iteration-mini-lab"]
	path = week1/day3/kwk17-array-iteration-mini-lab
	url = https://github.com/clei1/kwk17-array-iteration-mini-lab
	branch = master
[submodule "week1/day3/kwk17-dom-manipulation-code-along"]
	path = week1/day3/kwk17-dom-manipulation-code-along
	url = https://github.com/clei1/kwk17-dom-manipulation-code-along
	branch = master
[submodule "week1/day3/kwk17-intro-to-javascript-arrays"]
	path = week1/day3/kwk17-intro-to-javascript-arrays
	url = https://github.com/clei1/kwk17-intro-to-javascript-arrays
	branch = master
[submodule "week1/day3/kwk17-intro-to-javascript-functions"]
	path = week1/day3/kwk17-intro-to-javascript-functions
	url = https://github.com/clei1/kwk17-intro-to-javascript-functions
	branch = master
[submodule "week1/day4/kwk17-fe-js-cryptography"]
	path = week1/day4/kwk17-fe-js-cryptography
	url = https://github.com/clei1/kwk17-fe-js-cryptography
	branch = master
[submodule "week1/day4/kwk17-fetch-api-template"]
	path = week1/day4/kwk17-fetch-api-template
	url = https://github.com/clei1/kwk17-fetch-api-template
	branch = master
[submodule "week1/day5/kwk17-DOM-lab"]
	path = week1/day5/kwk17-DOM-lab
	url = https://github.com/clei1/kwk17-DOM-lab
	branch = master
[submodule "kwk17-MINI-PROJ-movie-adaptations"]
	path = kwk17-MINI-PROJ-movie-adaptations
	url = https://github.com/clei1/kwk17-MINI-PROJ-movie-adaptations
	branch = master
[submodule "kwk17-FINAL-PROJ-maze"]
	path = kwk17-FINAL-PROJ-maze
	url = https://github.com/clei1/kwk17-FINAL-PROJ-maze
	branch = master
[submodule "week2/day6/kwk17-a-frame-basics-lab"]
	path = week2/day6/kwk17-a-frame-basics-lab
	url = https://github.com/clei1/kwk17-a-frame-basics-lab
	branch = master
[submodule "week2/day7/kwk17-a-frame-dom-manipulation-code-along"]
	path = week2/day7/kwk17-a-frame-dom-manipulation-code-along
	url = https://github.com/clei1/kwk17-a-frame-dom-manipulation-code-along
	branch = master
[submodule "week2/day7/kwk17-AFRAME-DOM-lab"]
	path = week2/day7/kwk17-AFRAME-DOM-lab
	url = https://github.com/clei1/kwk17-AFRAME-DOM-lab
	branch = master
